* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background: #fff8f8;
    color: #333;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
    background: #ffb6c1;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

nav {
    grid-area: nav;
    padding: 1rem;
    background: #ff85a2
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background: #ffb6c1;
    color: white;
    text-align: center;
    padding: 1rem;
}

